body{
    max-width: 100%;
    background: rgb(36,24,51);
    margin-left: 250px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
a{
    color: yellow;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 550px;
}
.TITULO{
    margin-top: 10px;
    background-color: rgb(25, 0, 54);
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 45px;
}

/*animacion de victoria y derrota*/
.fadeOut {
    position: absolute;
    width: 1561px;
    height: 900px;
    top: 120px;
    background: rgb(36,24,51);
    visibility:hidden;
    color: red;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeOut {
  50% { opacity: 1; visibility:visible;}
}

@keyframes fadeOut {
  50% { opacity: 1; visibility:visible;}
}
.fadeOut {
    -webkit-animation-name: fadeout;
    animation-name: fadeOut;
 }
.cuerpoVER{
    margin-left: 50px;
}
.gif{
    width: 80%;
}
img{
    width: 85%;
    margin-top: 4px;
}
.imagenVER{
    margin-right: 500px;
    width: 30%;
}