body{
    max-width: 100%;
    background: rgb(36,24,51);
    margin-left: 250px;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 20px;
    margin-right: 180px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
a{
    color: yellow;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 46px;
    text-align: center;
}
h2{
    color: #ffa23e;
}
p{
    margin-left: 100px;
}
.TITULO{
    margin-bottom: 45px;
}

/*animacion de gif*/
.fadeOut {
    position: absolute;
    width: 1561px;
    height: 900px;
    top: 120px;
    background: rgb(36,24,51);
    visibility:hidden;
    color: red;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeOut {
  50% { opacity: 1; visibility:visible;}
}

@keyframes fadeOut {
  50% { opacity: 1; visibility:visible;}
}
.fadeOut {
    -webkit-animation-name: fadeout;
    animation-name: fadeOut;
 }
.cuerpoVER{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-left: 50px;
    border-radius: 40px;
    background: rgb(59,5,49);
}
.gif{
    width: 80%;
}
img{
    width: 85%;
    margin-top: 4px;
}
.imagenVER{
    margin-right: 450px;
    width: 30%;
}