body{
    max-width: 100%;
    background: rgb(36,24,51);
    background: linear-gradient(90deg, rgba(36,24,51,1) 0%, rgba(59,5,49,1) 100%);
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif; /*Estilo de la pagina, margenes, colores y fuente*/
}
a:link, a:visited, a:active {
    text-decoration:none; /*Sin estilo si lo ha clicado antes*/
}
a{
    color: yellow;
}
h1{
    color: #ffffff;
    font-size: 46px;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    /*border-bottom: 2px solid rgb(185, 169, 169);*/
    font-size: 18px;
}

ul li{
    display: inline-block;
    width: 15%;
}

ul.cabecera li{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #ffa23e;
}

.cuerpo {
    position: relative;
    bottom: 140px;
}
.gif{
    width: 80%;
}
img{
    width: 85%;
    margin-top: 4px;
    margin-bottom: 10px;
}
.imagenEditar{
    width: 30%;
}